extends inc/layout.pug

block title 
    title inherance 
block content 
    header  
        h1 inherence
    section 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit in voluptates iste magni, vel ipsam doloremque alias perspiciatis natus pariatur nostrum ullam, minima inventore labore atque cupiditate consectetur non. Mollitia.