@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

body {background-color: #FC6998;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0fc2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ffc1d5' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d610cc' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ed9ec0' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23e011d5' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23d87bae' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ea11df' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23c1589f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f512e9' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a63492' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ff13f3' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: Poppins, sans-serif;
    color: white;
}

nav.controls {
    position: fixed;
    a:is(:link, :visited) {
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0);
        height: 40px;
        transform: scale(0.8);
        opacity: 0.6;
        padding: 10px;
        width: 40px;
        transition: all 0.4s ease-in


    }
    a:is(:hover) {
        opacity: 1;
        transform: scale(1);
    }
    svg {
        width: 40px;
    }
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2 {
            color: rgb(255, 255, 255);
            text-align: center;
            margin: 0;
        }
        h1{
            font-size: 4rem;
            font-weight: 400;
        }
        h2{
            font-size: 1.4rem;
            font-weight: 300;
        }
        img{
            border-radius: 50%;
            object-fit: contain;
            width: 160px;
            height: 160px;
            border: 10px solid #0009;
            background-color: pink;
        }
}
    menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;

        a:is(:link, :visited) {
            background-color: rgba(90, 89, 89, 0.6);
            border-radius: 50px;
            color: rgba(255, 255, 255, 0.733);
            display: flex;
            gap: 1rem;
            padding: 1rem;
            text-decoration: none;
            transition: all 1s ease-in;
            width: 280px;
            i{
                background-color: #000000;
                border-radius: 20px;
                color: rgba(255, 255, 255, 0.6);
                font-style: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 1s ease-in;
                height: 34px;
                width: 34px;
            }
        }

        a:is(:hover) {
            transform: translate(-40px);
            background-color: #000000
        }

        a:is(:hover) i {
            transform: scale(1.4) rotateY(1080deg);
        }
    }
    section{
        background-color: #fff9;
        color: aliceblue;
        padding: 10px;
        border-radius: 10px;
        width: 400px;
        h3 {
            border-bottom: 2px dotted #ffffff;
            color: 0006;
            font-size: 1.4rem;
            margin: 0;
            width: fit-content;
        }
        p {
            font-size: 1.8rem;
            margin: 10px 0 ;
        }
        xmp {
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.6);
            color: rgb(255, 255, 255);
            padding: 0 10px 10px 10px;
        }
    }
}